.about {
  display: flex;
  width: 94%;
  flex-direction: column;
  color:rgb(255, 255, 255);
  /* font-family: 'coolvetica'; */
  background-color: rgb(16, 16, 16);
  padding-top: 10px;
  padding-left: 114px;
  align-items: center;
  /* width: 100vw; */
  /* height: 100%; */
  height: 100vh;
}

.about h2 {
  padding-top: 60px;
  letter-spacing: 6px;
  font-size: 60px;
  color:rgb(0, 247, 255);

}

.textImageAbout {
  padding-top: 50px;
  display: flex;
  padding-left: 600px;
  align-items: center;
}

.about p {
  padding-top: 30px;
  margin-left: -480px;
  letter-spacing: 2px;
  font-size: 24px;
  transition: .5s ease-out;
}

.about img {
  width: 600px;
  transition: 0.5s ease-out;
}

.about p:hover {
  font-size: 25px;
}

.about img:hover {
  width: 690px;
}